
.package-container {
	display: inline-block;
	margin: 25px;
	margin-top: 0px;
	border-radius: 5px;
    background: white;
    text-align: center;
    height: 450px;
    position:relative;
}

.container-header {
	background-color: violet;
	text-align: center;
}

.container {
	text-align: center;
}

.list {
	list-style-type: none;
}

.page {
	background-color: #fdf2fd;
}

.list-item {
	border-bottom: 1px solid grey;
	margin-right: 35px;
}

.users, .header, .cliche-tag {
	text-align: center;
}

 .main-header, .cliche-tag {
	color: #DDA0DD ;
	text-align: center;
}

.header {
	color: white;
	background-color: violet;
}

.sign-up {
	background-color: white;
	font-family: Sintony;
	color: #DDA0DD;
	position: absolute;
    bottom: 20px;
   
}

.text {
	padding: 10px;
}